**/.dockerignore
**/.git
**/.gitignore
**/.gitlab-ci.yml
**/.vscode
**/.pytest_cache
**/.env
**/.venv
**/.aws
**/.ssh
**/.flake8
**/.DS_Store
**/coverage
**/env
**/pyproject.toml
**/venv
**/__pycache__
**/*.pyc
Dockerfile
README.md
