**/.dockerignore
**/.git
**/.gitignore
**/.gitlab-ci.yml
**/.vscode
**/.pytest_cache
**/.env
**/.venv
**/.aws
**/.ssh
**/.flake8
**/.DS_Store
**/.nox
**/coverage
**/env
**/venv
**/__pycache__
**/*.pyc
Dockerfile
dist
embeddings_model
README.md
